@import "../../../assets/styles/variables";

:host {
    width: 100%;
    background: $darker-gray;
    color: #fff;
    line-height: $font-size-h2;
    border-bottom: 1px solid #000;
    padding-top: 20px;
    margin-bottom: 40px;

    a {
        color: #fff;
        text-decoration: none;

        &.brand-logo {
            font-size: $font-size-h2;
        }
    }

    ul {
        float: right;

        li {
            display: inline-block;
            margin-top: 0px;

            a {
                display: block;
                padding: 4px 10px;

                &.is-active {
                    color: $brand-success;
                }
            }
        }
    }
}
